
  <div id="Gardin">
   <h1>Gardin</h1>
  </div>
  
  <div id="BackStage" #BackStage data-OpenClose=0> 
    <h1> BackStagde</h1>
  </div> 

  <button class="Knap" (click)="Pull()" >
  </button>
 


   <!-- <div class="TT">
      <img class="Image" src="https://images.unsplash.com/photo-1680554692591-7b3df1de8cc4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80" alt="">
      <img class="Image" src="https://images.unsplash.com/photo-1680897452990-5e6b12eb2cb9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=686&q=80" alt="">
      <img class="Image" src="https://images.unsplash.com/photo-1681654343228-98310f49c7b5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80" alt="">
      <img class="Image" src="https://images.unsplash.com/photo-1681791781722-da696607b0b4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="">
      <img class="Image" src="https://images.unsplash.com/photo-1681793117576-e395486e7065?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80" alt="">
      <img class="Image" src="https://images.unsplash.com/photo-1681841049409-9bdb3852b6df?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=663&q=80" alt="">
      <img class="Image" src="https://images.unsplash.com/photo-1681756458296-8e1c56d6047c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="">
      <img class="Image" src="https://images.unsplash.com/photo-1681742782876-e6f2e81a480a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="">
      <img class="Image" src="https://images.unsplash.com/photo-1681579191412-295d0f679ecf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=688&q=80" alt="">
      <img class="Image" src="https://images.unsplash.com/photo-1681785442227-3bd0dce354df?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80" alt="">
      <img class="Image" src="https://images.unsplash.com/photo-1681503374062-3207c1b5390f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="">
      <img class="Image" src="https://images.unsplash.com/photo-1681334048756-926342676934?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="">
      <img class="Image" src="https://images.unsplash.com/photo-1681503374059-6e6c458b82aa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="">
      <img class="Image" src="https://images.unsplash.com/photo-1681459798259-a5544356ba0d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=769&q=80" alt="">
      <img class="Image" src="https://images.unsplash.com/photo-1681675253454-6ff2f63312f6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="">
      <img class="Image" src="https://images.unsplash.com/photo-1680890981209-4a42bc21326c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80" alt="">
    </div>
    <div class="TT">
      <img class="Image" src="https://images.unsplash.com/photo-1680554692591-7b3df1de8cc4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80" alt="">
      <img class="Image" src="https://images.unsplash.com/photo-1680897452990-5e6b12eb2cb9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=686&q=80" alt="">
      <img class="Image" src="https://images.unsplash.com/photo-1681654343228-98310f49c7b5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80" alt="">
      <img class="Image" src="https://images.unsplash.com/photo-1681791781722-da696607b0b4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="">
      <img class="Image" src="https://images.unsplash.com/photo-1681793117576-e395486e7065?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80" alt="">
      <img class="Image" src="https://images.unsplash.com/photo-1681841049409-9bdb3852b6df?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=663&q=80" alt="">
      <img class="Image" src="https://images.unsplash.com/photo-1681756458296-8e1c56d6047c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="">
      <img class="Image" src="https://images.unsplash.com/photo-1681742782876-e6f2e81a480a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="">
      <img class="Image" src="https://images.unsplash.com/photo-1681579191412-295d0f679ecf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=688&q=80" alt="">
      <img class="Image" src="https://images.unsplash.com/photo-1681785442227-3bd0dce354df?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80" alt="">
      <img class="Image" src="https://images.unsplash.com/photo-1681503374062-3207c1b5390f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="">
      <img class="Image" src="https://images.unsplash.com/photo-1681334048756-926342676934?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="">
      <img class="Image" src="https://images.unsplash.com/photo-1681503374059-6e6c458b82aa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="">
      <img class="Image" src="https://images.unsplash.com/photo-1681459798259-a5544356ba0d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=769&q=80" alt="">
      <img class="Image" src="https://images.unsplash.com/photo-1681675253454-6ff2f63312f6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="">
      <img class="Image" src="https://images.unsplash.com/photo-1680890981209-4a42bc21326c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80" alt="">
    </div>
    <div class="TT">
      <img class="Image" src="https://images.unsplash.com/photo-1680554692591-7b3df1de8cc4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80" alt="">
      <img class="Image" src="https://images.unsplash.com/photo-1680897452990-5e6b12eb2cb9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=686&q=80" alt="">
      <img class="Image" src="https://images.unsplash.com/photo-1681654343228-98310f49c7b5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80" alt="">
      <img class="Image" src="https://images.unsplash.com/photo-1681791781722-da696607b0b4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="">
      <img class="Image" src="https://images.unsplash.com/photo-1681793117576-e395486e7065?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80" alt="">
      <img class="Image" src="https://images.unsplash.com/photo-1681841049409-9bdb3852b6df?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=663&q=80" alt="">
      <img class="Image" src="https://images.unsplash.com/photo-1681756458296-8e1c56d6047c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="">
      <img class="Image" src="https://images.unsplash.com/photo-1681742782876-e6f2e81a480a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="">
      <img class="Image" src="https://images.unsplash.com/photo-1681579191412-295d0f679ecf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=688&q=80" alt="">
      <img class="Image" src="https://images.unsplash.com/photo-1681785442227-3bd0dce354df?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80" alt="">
      <img class="Image" src="https://images.unsplash.com/photo-1681503374062-3207c1b5390f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="">
      <img class="Image" src="https://images.unsplash.com/photo-1681334048756-926342676934?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="">
      <img class="Image" src="https://images.unsplash.com/photo-1681503374059-6e6c458b82aa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="">
      <img class="Image" src="https://images.unsplash.com/photo-1681459798259-a5544356ba0d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=769&q=80" alt="">
      <img class="Image" src="https://images.unsplash.com/photo-1681675253454-6ff2f63312f6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="">
      <img class="Image" src="https://images.unsplash.com/photo-1680890981209-4a42bc21326c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80" alt="">
    </div>
    <div class="TT">
      <img class="Image" src="https://images.unsplash.com/photo-1680554692591-7b3df1de8cc4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80" alt="">
      <img class="Image" src="https://images.unsplash.com/photo-1680897452990-5e6b12eb2cb9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=686&q=80" alt="">
      <img class="Image" src="https://images.unsplash.com/photo-1681654343228-98310f49c7b5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80" alt="">
      <img class="Image" src="https://images.unsplash.com/photo-1681791781722-da696607b0b4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="">
      <img class="Image" src="https://images.unsplash.com/photo-1681793117576-e395486e7065?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80" alt="">
      <img class="Image" src="https://images.unsplash.com/photo-1681841049409-9bdb3852b6df?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=663&q=80" alt="">
      <img class="Image" src="https://images.unsplash.com/photo-1681756458296-8e1c56d6047c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="">
      <img class="Image" src="https://images.unsplash.com/photo-1681742782876-e6f2e81a480a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="">
      <img class="Image" src="https://images.unsplash.com/photo-1681579191412-295d0f679ecf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=688&q=80" alt="">
      <img class="Image" src="https://images.unsplash.com/photo-1681785442227-3bd0dce354df?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80" alt="">
      <img class="Image" src="https://images.unsplash.com/photo-1681503374062-3207c1b5390f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="">
      <img class="Image" src="https://images.unsplash.com/photo-1681334048756-926342676934?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="">
      <img class="Image" src="https://images.unsplash.com/photo-1681503374059-6e6c458b82aa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="">
      <img class="Image" src="https://images.unsplash.com/photo-1681459798259-a5544356ba0d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=769&q=80" alt="">
      <img class="Image" src="https://images.unsplash.com/photo-1681675253454-6ff2f63312f6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="">
      <img class="Image" src="https://images.unsplash.com/photo-1680890981209-4a42bc21326c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80" alt="">
    </div> -->
    